<%- include ('../partials/_header') -%>

<div class="row mt-1">
<div class="col-md-5" style="margin-left: 5px;">
    <div class="card bg-light ">
        <div class="card-body">
            <div class="card-header">Registrar Cita</div>
            <form action="/citas/add" method="post" style="padding: 5px;">
                <div class="form-group">
                    <input type="text" name="entrada" placeholder="Inserte Fecha Entrada" class="form-control" style="margin-bottom: 5px;"/>
                </div>
                <div class="form-group">
                    <input type="text" name="salida" placeholder="Inserte Fecha Salida" class="form-control" style="margin-bottom: 5px;"/>
                </div>
                <div class="form-group">
                    <!--input type="text" name="cotizacion" placeholder="Inserte No. Cotizacion" class="form-control" style="margin-bottom: 5px;"/-->
                    <label for="cotizacion">Seleccione Placa de Vehículo:</label>
                    <select name="cotizacion" id="cotizacion" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qcotizacion) { %>
                            <option value="<%= opcion.pk_cotizacion %>"><%= opcion.CODIGO %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <!--input type="text" name="Empleado" placeholder="Inserte Empleado" class="form-control" style="margin-bottom: 5px;" /-->
                    <label for="Empleado">Seleccione Empleado:</label>
                    <select name="Empleado" id="Empleado" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qempleado) { %>
                            <option value="<%= opcion.pk_empleado %>"><%= opcion.nombre %></option>
                        <% } %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                    Guardar Cita
                </button>
        </div>
    </div>
    </form>
</div>

<%- include ('../partials/_footer') -%>