<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Nuestros Servicios</div>
<div class="card-body">
<div class="container">
    <a href="/menu_admin" class="btn btn-info">Regresar</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cotización</th>
                        <th>Nombre</th>
                        <th>Placa</th>
                        <th>Total</th>
                        <th>Detalle</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_bitacora) %></td>
                            <td><%= (data[i].CODIGO) %></td>
                            <td><%= (data[i].nombre) %></td>
                            <td><%= (data[i].placa) %></td>
                            <td>Q. <%= (data[i].presupuesto) %></td>
                            <td><%= (data[i].detalle) %></td>
                            <td><%= (data[i].estado) %></td>
                            <td><%= (data[i].fecha) %></td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>