<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Mis Revisiones</div>
<div class="card-body">
<div class="container">
    <a href="/menu_user" class="btn btn-info">Regresar</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Codigo Solicitud</th>
                        <th>Empleado Asignado</th>
                        <th>Presupuesto Revision</th>
                        <th>Detalle</th>
                        <th>Tiempo Estimado</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cita) %></td>
                            <td><%= (data[i].cotizacion) %></td>
                            <td><%= (data[i].empleado) %></td>
                            <td>Q. <%= (data[i].presupuesto) %></td>
                            <td><%= (data[i].detalle) %></td>
                            <td><%= (data[i].tiempo) %></td>
                            <td><img src="/uploads/<%= (data[i].imagen) %>" style="width: 60%; height: 60%;" alt="<%= (data[i].foto) %>"></td>
                            <% if (data[i].estado.trim() === 'En Espera') { %>
                                <td>
                                    <a href="cita_cliente/aceptar/<%= data[i].pk_cita %>" class="btn btn-info">Aceptar</a>
                                    -
                                    <a href="cita_cliente/denegar/<%= data[i].pk_cita %>" class="btn btn-danger">Denegar</a>
                                </td>
                                <% } else if (data[i].estado.trim() === 'Aceptada'){ %>
                                    <td>
                                        <!--a href="/cotizacionadmin/correoaceptado/<%= data[i].pk_cotizacion %>/<%= data[i].Codigo %>" class="btn btn-success">Enviar Notificación</a-->
                                        <p>Cita Aceptada</p>
                                        <p>Revisar Mantenimientos</p>
                                      </td>
                                <% } else if (data[i].estado.trim() === 'Denegada')  { %>
                                    <td>
                                        <!--a href="/cotizacionadmin/correodenegado/<%= data[i].pk_cotizacion %>/<%= data[i].Codigo %>" class="btn btn-warning">Enviar Notificación</a-->
                                        <p>Cita Denegada</p>
                                        <p>Gracias por elegir nuestro servicio</p>
                                    </td>
                                <% } else { %>
                                    <td>
                                        <p>El vehiculo a sido ingresado a Mantenimiento</p>
                                    </td>
                                <% } %>      
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>