<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">cotizacion</div>
<div class="card-body">
<div class="container">
    <a href="/menu_user" class="btn btn-info">Regresar</a>
    <a href="/crear_cita" class="btn btn-success">Crear Cita</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Fecha Entrada</th>
                        <th>Fecha Salida</th>
                        <th>estado</th>
                        <th>Presupuesto</th>
                        <th>foto</th>
                        <th>Empleado</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cita) %></td>
                            <td><%= (data[i].Entrada) %></td>
                            <td><%= (data[i].Salida) %></td>
                            <td><%= (data[i].Estado) %></td>
                            <td><%= (data[i].Presupuesto) %></td>
                            <td><%= (data[i].Foto) %></td>
                            <td><%= (data[i].Nombre) %></td>
                            <td>
                                <a href="citas/delete/<%= data[i].pk_cita %>" class="btn btn-danger">Borrar</a>
                                <a href="citas/update/<%= data[i].pk_cita %>" class="btn btn-info">Modificar</a>
                            </td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>

