<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Revision</div>
<div class="card-body">
<div class="container">
    <a href="/menu_admin" class="btn btn-info">Regresar</a>
    <a href="/crear_cita" class="btn btn-success">Crear Revision</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Codigo Solicitud</th>
                        <th>Empleado Asignado</th>
                        <th>Presupuesto Revision</th>
                        <th>Detalle</th>
                        <th>Tiempo Estimado</th>
                        <th>Estado</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cita) %></td>
                            <td><%= (data[i].cotizacion) %></td>
                            <td><%= (data[i].empleado) %></td>
                            <td>Q. <%= (data[i].presupuesto) %></td>
                            <td><%= (data[i].detalle) %></td>
                            <td><%= (data[i].tiempo) %></td>
                            <td><%= (data[i].estado) %></td>
                            <td><img src="/uploads/<%= (data[i].foto) %>" style="width: 100%; height: 70%;" alt="<%= (data[i].foto) %>"></td>
                            <td>
                                <a href="citas/delete/<%= data[i].pk_cita %>" class="btn btn-danger">Borrar</a>
                                <a href="citas/update/<%= data[i].pk_cita %>" class="btn btn-info">Modificar</a>
                            </td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>

