<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Clientes</div>
<div class="card-body">
<div class="container">
    <a href="/crear_cliente" class="btn btn-success">Crear Cliente</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>DPI</th>
                        <th>N.Telefonico</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cliente) %></td>
                            <td><%= (data[i].nombre) %></td>
                            <td><%= (data[i].correo) %></td>
                            <td><%= (data[i].dpi) %></td>
                            <td><%= (data[i].numero) %></td>
                            <td><%= (data[i].direccion_cliente) %></td>
                            <td style="display: none;">
                                <a href="vehiculo/delete/<%= data[i].pk_vehiculo %>" class="btn btn-danger">Borrar</a>
                                <a href="vehiculo/update/<%= data[i].pk_vehiculo %>" class="btn btn-info">Modificar</a>
                            </td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>