<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Solicitudes de Revision</div>
<div class="card-body">
<div class="container">
    <a href="/menu_admin" class="btn btn-info">Regresar</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Codigo</th>
                        <th>Placa Vehiculo</th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                        <th>Fecha Solicitada</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cotizacion) %></td>
                            <td><%= (data[i].Codigo) %></td>
                            <td><%= (data[i].placa) %></td>
                            <td><%= (data[i].Estado) %></td>
                            <td><%= (data[i].Descripcion) %></td>
                            <td><%= (data[i].Fecha) %></td> 
                            <% if (data[i].Estado.trim() === 'En Espera') { %>
                            <td>
                                <a href="cotizacionadmin/aceptar/<%= data[i].pk_cotizacion %>" class="btn btn-info">Aceptar</a>
                                -
                                <a href="cotizacionadmin/denegar/<%= data[i].pk_cotizacion %>" class="btn btn-danger">Denegar</a>
                            </td>
                            <% } else if (data[i].Estado.trim() === 'Aceptada'){ %>
                                <td>
                                    <a href="/cotizacionadmin/correoaceptado/<%= data[i].pk_cotizacion %>/<%= data[i].Codigo %>" class="btn btn-success">Enviar Notificación</a>
                                  </td>
                            <% } else { %>
                                <td>
                                    <a href="/cotizacionadmin/correodenegado/<%= data[i].pk_cotizacion %>/<%= data[i].Codigo %>" class="btn btn-warning">Enviar Notificación</a>
                                </td>
                            <% } %>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>

