<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header">Solicitudes de Revision</div>
<div class="card-body">
<div class="container">
    <a href="/menu_user" class="btn btn-info">Regresar</a>
    <a href="/crear_cotizacion" class="btn btn-success">Crear Solicitud Revision</a>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <form action="/cotizacion" method="get">
                <input type="text" name="codigo" placeholder="Buscar por código" value="<%= busqueda %>">
                <button type="submit" class="btn btn-outline-info">Buscar</button>
                <a href="/cotizacion" class="btn btn-outline-warning">Restablecer</a>
            </form>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Codigo</th>
                        <th>Placa Vehiculo</th>
                        <th>Estado</th>
                        <th>Descripcion</th>
                        <th>Fecha Solicitada</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_cotizacion) %></td>
                            <td><%= (data[i].Codigo) %></td>
                            <td><%= (data[i].placa) %></td>
                            <td><%= (data[i].Estado) %></td>
                            <td><%= (data[i].Descripcion) %></td>
                            <td><%= (data[i].Fecha) %></td> 
                            
                                <!--a href="cotizacion/delete/<%= data[i].pk_cotizacion %>" class="btn btn-danger">Borrar</a-->
                                <!--a href="cotizacion/update/<%= data[i].pk_cotizacion %>" class="btn btn-info">Modificar</a-->
                            
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>

