<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header"><a href="/menu_admin" class="btn btn-info">Regresar</a> Usuarios de Clientes</div>
<div class="card-body">
<div class="container">
    <div class="row mt-1">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Cliente</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].id_usuario) %></td>
                            <td><%= (data[i].cliente) %></td>
                            <td><%= (data[i].usuario) %></td>
                            <td><%= (data[i].clave) %></td>
                            <td>
                                <a href="usuario_cliente/delete/<%= data[i].id_usuario %>" class="btn btn-danger">Borrar</a>
                                <a href="usuario_cliente/update/<%= data[i].id_usuario %>" class="btn btn-info" style="display: none;">Modificar</a>
                            </td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-3" style="margin-left: 5px;">
            <div class="card bg-light ">
                <div class="card-body">
                    <div class="card-header">Ingreso de Datos</div>
                    <form id="formularioucliente" action="usuario_cliente/add" method="post" style="padding: 5px;">
                        <div class="form-group">
                            <!--input type="text" name="cliente" placeholder="Seleccione Cliente" class="form-control" style="margin-bottom: 5px;"/-->
                            <label for="cliente">Seleccione Cliente:</label>
                    <select name="cliente" id="cliente" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qcliente) { %>
                            <option value="<%= opcion.pk_cliente %>"><%= opcion.nombre %></option>
                        <% } %>
                    </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="usuario" placeholder="Ingrese su Usuario" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="pass" placeholder="Ingrese su Contraseña" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                            Guardar
                        </button>
                    </form>
                </div> 
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('formularioucliente').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir que el formulario se envíe inmediatamente
        
        // Verificar si hay campos vacíos antes de mostrar la alerta de confirmación
        const inputs = this.querySelectorAll("input[type=text]");
        const selects = this.querySelectorAll("select");
        let allFilled = true;
        for (let input of inputs) {
            if (input.value.trim() === '') {
                allFilled = false;
                break;
            }
        }
        for (let select of selects) {
            if (select.value.trim() === '') {
                allFilled = false;
                break;
            }
        }

        if (!allFilled) {
            Swal.fire({
                icon: 'error',
                title: 'Algo salio mal..',
                text: 'Todos los campos deben estar llenos.',
                confirmButtonColor: '#3085d6',
            });
            return; // Detener la ejecución si hay campos vacíos
        }
        
        // Mostrar confirmación si todos los campos están llenos
        Swal.fire({
            title: '¿Estás seguro de que deseas guardar este usuario?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, guardar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                icon: 'success',
                title: 'Datos Ingresados',
                text: 'Datos Ingresados con éxito',
                confirmButtonColor: '#00D755'
                }).then((result) => {
                    this.submit(); // Enviar el formulario si el usuario confirma
                });
            }
        });
    });
</script>
