<%- include ('partials/_header') -%>
<div class="card border-light mb-4" style="max-width: 100%;">
<div class="card-header"><a href="/menu_admin" class="btn btn-info">Regresar</a>Pagos Cotizaciones</div>
<div class="card-body">
<div class="container">
    <div class="row mt-1">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N.</th>
                        <th>Cotizacion</th>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td style="display: none;"><%= (data[i].pk_pago) %></td>
                            <td><%= (data[i].cotizacion) %></td>
                            <td><%= (data[i].fecha) %></td>
                            <td><%= (data[i].tipo) %></td>
                            <td><%= (data[i].cantidad) %></td>
                            <td>
                                <a href="usuario_cliente/delete/<%= data[i].id_usuario %>" class="btn btn-danger">Borrar</a>
                                <a href="usuario_cliente/update/<%= data[i].id_usuario %>" class="btn btn-info" style="display: none;">Modificar</a>
                            </td>
                        </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-3" style="margin-left: 5px;">
            <div class="card bg-light ">
                <div class="card-body">
                    <div class="card-header">Ingreso de Datos</div>
                    <form action="usuario_cliente/add" method="post" style="padding: 5px;">
                        <div class="form-group">
                            <!--input type="text" name="cliente" placeholder="Seleccione Cliente" class="form-control" style="margin-bottom: 5px;"/-->
                            <label for="cliente">Seleccione Cotizacion:</label>
                    <select name="cotizacion" id="cotizacion" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qcliente) { %>
                            <option value="<%= opcion.pk_cliente %>"><%= opcion.nombre %></option>
                        <% } %>
                    </select>
                        </div>
                        <div class="form-group">
                            <select name="tipo" id="tipo" class="form-control" style="margin-bottom: 5px;">
                            <option value="Efectivo">Efectivo</option>
                            <option value="Transferencia">Transferencia</option>
                            <option value="Cheque">Cheque</option>
                            </select>                        
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                            Pagar
                        </button>
                    </form>
                </div> 
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<%- include ('partials/_footer') -%>