<%- include ('../partials/_header') -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card">
                    <form action="/vehiculo/update/<%= (data.pk_vehiculo) %>" method="post" style="padding: 5px;">
                        <div class="form-group">
                            <input type="text" name="id" value="<%= (data.pk_vehiculo) %>" class="form-control" style="margin-bottom: 5px; display:none;"/>
                        </div>
                        <div class="form-group">
                            <!--input type="text" name="marca" value="<%= (data.fk_marca) %>" class="form-control" style="margin-bottom: 5px;"/-->
                            <label for="marca">Seleccione Marca:</label>
                    <select name="marca" id="marca" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qmarca) { %>
                            <option value="<%= opcion.pk_marca %>"><%= opcion.descripcion %></option>
                        <% } %>
                    </select>
                        </div>
                        <div class="form-group">
                            <!--input type="text" name="tipo" value="<%= (data.fk_tipo) %>" class="form-control" style="margin-bottom: 5px;"/-->
                            <label for="marca">Seleccione Tipo Vehiculo:</label>
                    <select name="tipo" id="tipo" class="form-control" style="margin-bottom: 5px;">
                        <% for (const opcion of qtipo) { %>
                            <option value="<%= opcion.pk_tipo %>"><%= opcion.descripcion %></option>
                        <% } %>
                    </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="modelo" value="<%= (data.modelo) %>" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="placa"  value="<%= (data.placa) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="color" value="<%= (data.color) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="kilometraje" value="<%= (data.kilometraje) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="cliente"  value="<%= (data.fk_cliente) %>" class="form-control" style="margin-bottom: 5px; display:none;" />
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                            Editar Vehiculo
                        </button>
                </div>
            </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/_footer') -%>