<%- include ('../partials/_header') -%>
<a href="/citas" class="btn btn-danger">Cancelar</a>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card">
                    <form id="formulariocita" action="/citas/update/<%= (data.pk_cita) %>" method="post" style="padding: 5px;">
                        <div class="form-group">
                            <!--input type="text" name="cotizacion" placeholder="Inserte No. Cotizacion" class="form-control" style="margin-bottom: 5px;"/-->
                            <label for="cotizacion">Seleccione codigo de cotizacion:</label>
                            <select name="cotizacion" id="cotizacion" class="form-control" style="margin-bottom: 5px;">
                                <% for (const opcion of qcotizacion) { %>
                                    <option value="<%= opcion.pk_cotizacion %>"><%= opcion.CODIGO %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <!--input type="text" name="Empleado" placeholder="Inserte Empleado" class="form-control" style="margin-bottom: 5px;" /-->
                            <label for="empleado">Seleccione Empleado:</label>
                            <select name="empleado" id="empleado" class="form-control" style="margin-bottom: 5px;">
                                <% for (const opcion of qempleado) { %>
                                    <option value="<%= opcion.pk_empleado %>"><%= opcion.nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Describa la Revision:</label>
                            <textarea type="text" value="<%= data.detalle %>" name="detalle" class="form-control" style="margin-bottom: 5px;"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                            <label for="presupuesto">Presupuesto de la Revision:</label>
                            <input type="number" value="<%= data.presupuesto %>" name="presupuesto" placeholder="Inserte presupuesto" class="form-control" style="margin-bottom: 5px;" />
                            </div>
                        <div class="form-group">
                            <label for="tiempo_estimado">Tiempo Estimado de la Revision:</label>
                            <input type="text" value="<%= data.tiempo_estimado %>" name="tiempo_estimado" placeholder="Inserte tiempo estimado" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                            Editar Cita
                        </button>
                </div>
            </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/_footer') -%>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('formulariocita').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir que el formulario se envíe inmediatamente
        Swal.fire({
            title: '¿Estás seguro de que deseas ediar esta cita?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, guardar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                icon: 'success',
                title: 'Datos Editados',
                text: 'Datos Guardados con éxito',
                confirmButtonColor: '#00D755'
                }).then((result) => {
                    this.submit(); // Enviar el formulario si el usuario confirma
                });
            }
        });
    });
</script>
