<%- include ('partials/_header') -%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card">
                    <form action="/update/<%= (data.pk_Id_Vehiculo) %>" method="post" style="padding: 5px;">
                        <div class="form-group">
                            <input type="text" name="id" value="<%= (data.pk_Id_Vehiculo) %>" class="form-control" style="margin-bottom: 5px; display:none;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="marca" value="<%= (data.Marca_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo" value="<%= (data.Tipo_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="modelo" value="<%= (data.Modelo_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="placa"  value="<%= (data.Placa_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="color" value="<%= (data.Color_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="kilometraje" value="<%= (data.Kilometraje_Vehiculo) %>" class="form-control" style="margin-bottom: 5px;" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="cliente"  value="<%= (data.fk_Id_Cliente_V) %>" class="form-control" style="margin-bottom: 5px; display:none;" />
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">
                            Editar Vehiculo
                        </button>
                </div>
            </div>
            </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer') -%>